body {
    margin: 1em;
}

h1 {
    font-size: 4em;
    margin: 0em 0em 1em;
}

div.center {
    background: #888;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    box-shadow: 0 0 10px #555;
}

img {
    width: 320px;
}

ul.f32 > li {
    margin: 10px 10px 0 0;
}

ul.f32 > li:hover {
    box-shadow: 0 0 10px #555;
}

ul.countries > li {
    float: left;
    list-style: none;
    margin: 5px 10px 0 0;
    border: 4px solid white;
}

ul.f32 > li > a {
    display: block;
}

.flagSelected {
    border: 4px solid green;
}

.btn-danger {
    opacity: .3;
}

.btn-success {
    opacity: .3;
}
