<!doctype html>
<html lang="en" ng-app="FlagQuizApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="FlagQuizController">

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">FlagQuiz</a>
            <ul class="nav">
                <li><a href="#">Do you know all the country flags? Prove it!</a></li>
            </ul>
            <ul class="nav" style="float: right;">
                <li ng-show="!gamestart">
                    <form style="margin: 5px 0 0 0;">
                        <input style="margin: 0;" type="text" ng-model="username" placeholder="Insert your name" />
                        <button style="margin: 0;" class="btn btn-primary" ng-click="gamestart = true">Start!</button>
                    </form>
                </li>
                <li ng-show="gamestart" ng-cloak><a href="#">Player {{ username }}</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" ng-show="gamestart" ng-cloak>
        <div class="span8">
            <ul ng-cloak class="countries">
                <li ng-repeat="country in countries"><a class="btn" ng-class="setCountryColor(country)" ng-click="setSelectedCountry(country)">{{ country.name }}</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul ng-cloak class="f32">
                <li ng-repeat="country in flags" class="flag" ng-class="setFlagColor(country)" ng-click="setSelectedFlag(country)"></li>
            </ul>
            <h1>Score: {{ score }}</h1>
        </div>
    </div>

    <hr />
    <h2>Hall of Fame</h2>
    <table class="table table-stripped span4">
        <thead>
            <tr>
                <td>Username</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody ng-show="halloffame">
            <tr ng-repeat="userscore in halloffame">
                <td>{{ userscore.user }}</td>
                <td>{{ userscore.score }}</td>
            </tr>
        </tbody>

    </table>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-2.0.3.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
